<section class="get-in-touch-area tmp-section-gapTop">
    <div class="container">
        <div class="contact-get-in-touch-wrap">
            <div class="get-in-touch-wrapper tmponhover">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5">
                        <div class="section-head text-align-left">
                            <div class="section-sub-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                                <span class="subtitle">Đăng kí nhận thông tin</span>
                            </div>
                            <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">
                                Mặt bằng bảng giá chi tiết từng dự án
                            </h2>
                            <p class="description tmp-scroll-trigger tmp-fade-in animation-order-3">
                                Cam kết gửi đến quý anh chị thông tin chính xác nhất và nhanh nhất về giá cũng như xu
                                hướng của thị
                                trường
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="contact-inner">
                            <div class="contact-form">
                                <div id="form-messages" class="error"></div>
                                <form class="tmp-dynamic-form send-email" method="POST">
                                    <div class="contact-form-wrapper row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input class="input-field" name="name" id="contact-name"
                                                    placeholder="Tên" type="text" required />
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input class="input-field" id="contact-phone" name="tel"
                                                    placeholder="Số điện thoại" type="text" required />
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input class="input-field" id="contact-email" name="email"
                                                    placeholder="Email" type="email" required />
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input class="input-field" type="text" id="subject" name="project"
                                                    placeholder="Dự án quan tâm" />
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <textarea class="input-field" placeholder="Lời nhắn" name="message"
                                                    id="contact-message" required></textarea>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="tmp-button-here">
                                                <button class="tmp-btn hover-icon-reverse radius-round w-100"
                                                    name="submit" type="submit" id="submit">
                                                    <span class="icon-reverse-wrapper">
                                                        <span class="btn-text">Đăng kí ngay</span>
                                                        <span class="btn-icon"><i
                                                                class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                        <span class="btn-icon"><i
                                                                class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>