.elementor-kit-6 {
    --e-global-color-primary: #083a91;
    --e-global-color-secondary: #f9bb00;
    --e-global-color-text: #545454;
    --e-global-color-accent: #ea0e03;
    --e-global-color-b6ec1dc: #fff;
    --e-global-color-8c1b639: #eee;
    --e-global-color-4996bce: #56799e;
    --e-global-typography-primary-font-family: "Montserrat";
    --e-global-typography-primary-font-size: 35px;
    --e-global-typography-primary-font-weight: 700;
    --e-global-typography-primary-line-height: 56px;
    --e-global-typography-secondary-font-family: "Montserrat";
    --e-global-typography-secondary-font-size: 18px;
    --e-global-typography-secondary-font-weight: 700;
    --e-global-typography-secondary-line-height: 22px;
    --e-global-typography-text-font-family: "Open Sans";
    --e-global-typography-text-font-size: 18px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-text-line-height: 26px;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-size: 15px;
    --e-global-typography-accent-font-weight: 700;
    --e-global-typography-accent-line-height: 24px;
    --e-global-typography-6bc9458-font-size: 14px;
    --e-global-typography-6bc9458-font-weight: 400;
    --e-global-typography-6bc9458-line-height: 24px;
    --e-global-typography-c30ed3c-font-family: "Roboto";
    --e-global-typography-c30ed3c-font-size: 13px;
    --e-global-typography-c30ed3c-line-height: 21px;
    --e-global-typography-2fff750-font-family: "Roboto";
    --e-global-typography-2fff750-font-size: 16px;
    --e-global-typography-2fff750-font-weight: 400;
    --e-global-typography-2fff750-line-height: 26px;
    font-family: "Roboto", Sans-serif
}

.elementor-kit-6 h1 {
    font-size: 30px;
    line-height: 40px
}

.elementor-kit-6 h2 {
    font-size: 28px;
    line-height: 36px
}

.elementor-kit-6 h3 {
    font-size: 24px;
    line-height: 32px
}

.elementor-kit-6 h4 {
    font-size: 20px;
    line-height: 28px
}

.elementor-kit-6 h5 {
    font-size: 18px;
    line-height: 26px
}

.elementor-kit-6 h6 {
    font-size: 16px;
    line-height: 24px
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1200px
}

.e-con {
    --container-max-width: 1200px
}

.elementor-widget:not(:last-child) {
    margin-block-end: 20px
}

.elementor-element {
    --widgets-spacing: 20px 20px
}

    {}

h1.entry-title {
    display: var(--page-title-display)
}

.elementor-kit-6 e-page-transition {
    background-color: #ffbc7d
}

.site-header {
    padding-inline-end: 0px;
    padding-inline-start: 0px
}

@media(max-width:1024px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px
    }

    .e-con {
        --container-max-width: 1024px
    }
}

@media(max-width:767px) {
    .elementor-kit-6 {
        --e-global-typography-primary-font-size: 23px;
        --e-global-typography-primary-line-height: 30px;
        --e-global-typography-secondary-font-size: 18px;
        --e-global-typography-secondary-line-height: 26px;
        --e-global-typography-text-font-size: 18px;
        --e-global-typography-text-line-height: 26px;
        --e-global-typography-2fff750-font-size: 15px;
        --e-global-typography-2fff750-line-height: 24px
    }

    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px
    }

    .e-con {
        --container-max-width: 767px
    }
}